/* Add styles */

body {
  margin: 0;
  padding: 0;
  background-color: #0f2642;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

h1 {
  font-size: 35px;
  text-align: center;
  margin-top: 5%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fff;
  background-color: #00d5ff;
  border-radius: 5px;
  padding: 10px 10px;
  width: 20%;
  height: 40px;
  margin-left: 40%;
}

.refresh-scores {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.refresh-scores h2 {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fff;
}

.refresh-btn {
  margin: 18px;
  background-color: #00d5ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 8px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.display-scores {
  border: none;
  padding: 10px 1px;
  background-color: #00d5ff;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 400px;
  height: 100vh;
  text-align: center;
  font-size: 20px;
}

.display-scores div:nth-of-type(2n) {
  background-color: #fff;
  color: #0f2642;
  border: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input-scores {
  display: table-caption;
}

.score {
  margin: 1em 0;
  width: 300px;
  height: 40px;
  border-radius: 3px;
}

#user-name {
  width: 300px;
  height: 40px;
  border-radius: 3px;
}

.add-scores h2 {
  font-weight: initial;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fff;
}

#user-data-submit {
  background-color: #00d5ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 8px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
